body {
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	font-size:14px;
	text-align:center;
}

a {
	color:#000;
}

a:hover {
	color:#900;
}

h1 {
	font-family:"Helvetica",Arial,sans-serif;
	font-size:80px;
	font-weight:bold;
	margin:40px 0;
}

h1 a {
	color:#000;
	text-decoration:none;
}

section,
footer {
	width:960px;
	margin:0 auto;
}

section {
	text-align:left;
	overflow:auto;
}

div.episode {
	width:100%;
	clear:both;
	padding:10px 0 10px 0;
	overflow:auto;
	border-top:1px solid #999;
}

div.episode div {
	float:left;
}

div.episode div.ep-id {
	width:7%;
}

div.episode div.ep-date {
	width:16%;
}

div.episode div.ep-artist,
div.episode div.ep-album {
	width:27%;
	margin-left:5%;
	line-height:20px;
}

div.episode div.ep-details {
	width:8%;
	margin-left:5%;
	text-align:right;
}

div.episode div.ep-artist {
	font-weight:bold;
}

div.episode div.ep-album {
	font-style:italic;
}

div.episode-post {
	border-top:1px solid #999;
	padding:20px 0;
}

div.episode-post img.cover {
	float:right;
	width:320px;
	border:1px solid #000;
	margin:20px 0 20px 20px;
}

div.episode-post h2,
div.episode-post h3 {
	margin:0 0 40px 0;
}

div.episode-post h2 {
	font-size:40px;
	line-height:48px;
	font-weight:bold;
}

div.episode-post h2 span {
	font-style:italic;
	font-weight:normal;
}

div.episode-post h3,
div.episode-post p {
	font-size:20px;
	line-height:30px;
}

div.episode-post h3 {
	color:#666;
}

div.episode-post p {
	margin:0 0 20px 0;
}

footer {
	color:#999;
	font-size:16px;
	border-top:1px solid #999;
	padding:40px 0;
}