body {
	font-family: "PT Serif", Georgia, "Times New Roman", serif;
	font-size:16px;
	text-align:center;
}

h1 {
	font-family:"Helvetica",Arial,sans-serif;
	font-size:80px;
	font-weight:bold;
	margin:40px 0;
}

section,
footer {
	width:800px;
	margin:0 auto;
}

section {
	text-align:left;
	overflow:auto;
}

div.episode {
	width:100%;
	clear:both;
	padding:10px 0 10px 0;
	overflow:auto;
	border-top:1px solid #999;
}

div.episode div {
	float:left;
}

div.episode div.ep-id {
	width:6%;
}

div.episode div.ep-artist,
div.episode div.ep-album {
	width:42%;
	margin-left:5%;
	line-height:20px;
}

div.episode div.ep-artist {
	font-weight:bold;
}

div.episode div.ep-album {
	font-style:italic;
}

footer {
	color:#999;
	font-size:16px;
	border-top:1px solid #999;
	padding:40px 0;
}